{% extends 'base.html' %} {% load static %} {% block content %}
<section class="slider_section">
  <div id="customCarousel1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <h1>Welcome to our shop</h1>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
                  quam velit saepe dolorem deserunt quo quidem ad optio.
                </p>
                <a href=""> Read More </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img-box">
                <img src="{% static 'images/slider-img.png' %}" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <h1>Welcome to our shop</h1>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
                  quam velit saepe dolorem deserunt quo quidem ad optio.
                </p>
                <a href=""> Read More </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img-box">
                <img src="{% static 'images/slider-img.png' %}" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <h1>Welcome to our shop</h1>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste
                  quam velit saepe dolorem deserunt quo quidem ad optio.
                </p>
                <a href=""> Read More </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img-box">
                <img src="images/slider-img.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel_btn_box">
      <a
        class="carousel-control-prev"
        href="#customCarousel1"
        role="button"
        data-slide="prev">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#customCarousel1"
        role="button"
        data-slide="next">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
<section class="product_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>Our Products</h2>
    </div>
    <div class="row">
      {% for product in page_obj %}
      <div class="col-sm-6 col-lg-4">
        <div class="box">
          <div class="img-box">
            <img src="{{  product.image.url }}" alt="" />
            <form action="{% url 'cart:cart_add' product.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="add_cart_btn">
                <input type="hidden" name="quantity" value="1" />
                <input type="hidden" name="override" value="False" />
                <span>Add To Cart</span>
              </button>
            </form>
          </div>
          <div class="detail-box">
            <h5>
              <a href="{% url 'store:product_detail' product.slug %}"
                >{{product.name}}</a
              >
            </h5>
            <div class="product_info">
              <h5><span>$</span> {{product.price}}</h5>
              <div class="star_container">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
<div class="pagination">
  {% if page_obj.has_previous %}
    <a href="?page=1" class="page-btn">« First</a>
    <a href="?page={{ page_obj.previous_page_number }}" class="page-btn">‹ Prev</a>
  {% else %}
    <span class="page-btn disabled">« First</span>
    <span class="page-btn disabled">‹ Prev</span>
  {% endif %}

  <span class="page-info">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="page-btn">Next ›</a>
    <a href="?page={{ page_obj.paginator.num_pages }}" class="page-btn">Last »</a>
  {% else %}
    <span class="page-btn disabled">Next ›</span>
    <span class="page-btn disabled">Last »</span>
  {% endif %}
</div>


  </div>
</section>

<!-- end product section -->

<!-- about section -->

<section class="about_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 ml-auto">
        <div class="detail-box pr-md-3">
          <div class="heading_container">
            <h2>We Provide Best For You</h2>
          </div>
          <p>
            Totam architecto rem beatae veniam, cum officiis adipisci soluta
            perspiciatis ipsa, expedita maiores quae accusantium. Animi veniam
            aperiam, necessitatibus mollitia ipsum id optio ipsa odio ab facilis
            sit labore officia! Repellat expedita, deserunt eum soluta rem
            culpa. Aut, necessitatibus cumque. Voluptas consequuntur vitae
            aperiam animi sint earum, ex unde cupiditate, molestias dolore quos
            quas possimus eveniet facilis magnam? Vero, dicta.
          </p>
          <a href=""> Read More </a>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="img-box">
          <img src="images/about-img.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
