{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<br>
<h1 style="text-align: center;">checkout</h1>

<div class="container justify-content-center">
  <ul>
    {% for item in cart %}
    <li>
      {{item.product.name}} : {{item.quantity}}
      
      <span>price : {{item.price}}</span>
    </li>
    {% endfor %}
    {% if cart.get_total_price > 1 %}
  <li><p>Total : {{cart.get_total_price}}</p></li>
  {% endif %}
  </ul>
  {% if success %}
  <div class="alert alert-success" role="alert">
  <p>your order has beeen successfully</p>
  <p>order-id : {{order.order_id}}</p>
  </div>
  {% endif %}
</div>
<br />
<div class="container justify-content-center">
<style>
  .form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px 25px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', sans-serif;
  }

  .submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
  }

  .submit-btn:hover {
    background-color: #0056b3;
  }
</style>

<div class="form-container">
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Place order" class="submit-btn" />
  </form>
</div>

</div>
<br><br><br>
{% endblock %}
